$color_1: #fff;
$font-family_1: "Arial";
$background-color_1: #555;
$border-top-color_1: #555;


@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 40px;
    }
}

#basket {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;
    background: linear-gradient(135deg, #121212 25%, #1a1a1a 25%, #1a1a1a 50%, #121212 50%, #121212 75%, #1a1a1a 75%, #1a1a1a);
    background-size: 40px 40px;
    animation: move 4s linear infinite;

    .container {
        margin: 0 auto;
        max-width: 1200px;
        padding: 20px 10px;
        display: flex;

        .cards {
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            gap: 60px;

            .card {
                --main-color: #fff;
                --bg-color: #323232;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                position: relative;
                padding: 20px;
                width: 320px;
                background: var(--bg-color);
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            .card__wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .card__back svg,
            .card__menu .svg {
                width: 20px;
                height: 20px;
                color: white;
            }

            .card__img {
                width: 170px;
                height: 170px;
                background: linear-gradient(90deg, #fff8f79a, #f0f7dfa2);
                border-radius: 100%;
                margin-inline: auto;
            }

            .card__img .svg {
                color: rgb(113, 99, 17);
                height: 150px;
                transform: rotate(-45deg) translate(15px, 0px);
            }

            .card__title {
                font-weight: 600;
                font-size: 25px;
                color: var(--main-color);
            }

            .card__subtitle {
                font-weight: 400;
                font-size: 15px;
                color: var(--main-color);
                letter-spacing: 0.5px;
            }

            .card__price {
                font-weight: 600;
                font-size: 22px;
                color: var(--main-color);
            }

            .card__counter {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 15px;
                padding: 5px;
                background: #666;
                border-radius: 50px;
            }

            .card__counter-score,
            .card__btn {
                font-weight: 600;
                font-size: 22px;
                color: var(--main-color);
            }

            .card__btn {
                width: 30px;
                height: 30px;
                border-radius: 100%;
                border: none;
                background: transparent;
            }

            .card__btn-plus {
                background: var(--bg-color);
            }
        }

        .total {
            width: 20%;
            .totalSum {
                background-color: #323232;
                padding: 20px;
                border-radius: 16px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                
                .totalinfo {
                    display: flex;
                    h2 {
                        font-size: 24px;
                        color: white;
                    }
                }

                .button {
                    --width: 100px;
                    --height: 35px;
                    --tooltip-height: 35px;
                    --tooltip-width: 90px;
                    --gap-between-tooltip-to-button: 18px;
                    --button-color: #222;
                    --tooltip-color: #fff;
                    width: var(--width);
                    height: var(--height);
                    background: var(--button-color);
                    position: relative;
                    text-align: center;
                    border-radius: 0.45em;
                    font-family: $font-family_1;
                    transition: background 0.3s;

                    &::before {
                        position: absolute;
                        content: attr(data-tooltip);
                        width: var(--tooltip-width);
                        height: var(--tooltip-height);
                        background-color: $background-color_1;
                        font-size: 0.9rem;
                        color: $color_1;
                        border-radius: .25em;
                        line-height: var(--tooltip-height);
                        bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
                        left: calc(50% - var(--tooltip-width) / 2);
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.5s;
                    }

                    &::after {
                        position: absolute;
                        content: '';
                        width: 0;
                        height: 0;
                        border: 10px solid transparent;
                        border-top-color: $border-top-color_1;
                        left: calc(50% - 10px);
                        bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.5s;
                    }

                    &:hover {
                        background: #222;

                        .text {
                            top: -100%;
                        }

                        .icon {
                            top: 0;
                        }

                        &:before {
                            opacity: 1;
                            visibility: visible;
                            bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
                        }

                        &:after {
                            opacity: 1;
                            visibility: visible;
                            bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
                        }
                    }
                }

                .text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    color: $color_1;
                    top: 0;
                    transition: top 0.5s;
                }

                .button-wrapper {
                    overflow: hidden;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    color: $color_1;
                }

                .icon {
                    overflow: hidden;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    color: $color_1;
                    transition: top 0.5s;
                    color: $color_1;
                    top: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }

            }
        }
    }
}



@media (max-width: 1100px) {
    #basket{
        .basket{
            gap: 10px;
            .cards{
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .total{
                width: 29%;
            }
        }
    }
}

@media (max-width: 1019px) {
    #basket{
        .basket{
            .cards{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
            }
            .total{
                width: 50%;
            }
        }
    }
}

@media (max-width: 900px) {
    #basket{
        .basket{
            .cards{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .total{
                width: 50%;
            }
        }
    }
}


@media (max-width: 680px) {
    #basket{
        .basket{
            .cards{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 70%;

            }
            .total{
                width: 30%;
            }
        }
    }
}

@media (max-width: 490px) {
    #basket{
        .basket{
            flex-direction: column;
            gap: 20px;
            .cards{
                width:100%;
                flex-direction: column;
                align-items: center;
                .card{
                    --main-color: #fff;
                    --bg-color: #323232;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    position: relative;
                    padding: 10px;
                    width: 250px;
                    background: var(--bg-color);
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
                .card__img {
                    width: 130px;
                    height: 130px;
                    background: linear-gradient(90deg, #fff8f79a, #f0f7dfa2);
                    border-radius: 100%;
                    margin-inline: auto;
                }
                .card__img .svg {
                    color: rgb(113, 99, 17);
                    height: 110px;
                    transform: rotate(-45deg) translate(15px, 0px);
                }
            }
            .total{
                width: 100%;
            }
        }
    }
}