$background-color_1: #191a1a;
$background-color_2: transparent;
$background-color_3: var(--color);

@keyframes circle-keys {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1.5);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes dot-keys {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes outline-keys {
	0% {
		transform: scale(0);
		outline: solid 20px var(--color);
		outline-offset: 0;
		opacity: 1;
	}
	100% {
		transform: scale(1);
		outline: solid 0 transparent;
		outline-offset: 20px;
		opacity: 0;
	}
}

#showTime {
    width: 100%;
    height: 100%;
    --color: rgba(46, 46, 46, 0.3);
    background-color: $background-color_1;
    background-image: linear-gradient(180deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent), linear-gradient(45deg, transparent 24%, var(--color) 35%, var(--color) 26%, transparent 17%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 55px 55px;

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 100px 0;
	--color: hsl(0, 0%, 87%);
	--animation: 2s ease-in-out infinite;
	.circle {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 20px;
		height: 20px;
		border: solid 2px var(--color);
		border-radius: 50%;
		margin: 0 10px;
		background-color: $background-color_2;
		animation: circle-keys var(--animation);
		.dot {
			position: absolute;
			transform: translate(-50%, -50%);
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: $background-color_3;
			animation: dot-keys var(--animation);
		}
		.outline {
			position: absolute;
			transform: translate(-50%, -50%);
			width: 20px;
			height: 20px;
			border-radius: 50%;
			animation: outline-keys var(--animation);
		}
	}
}
.circle {
	&:nth-child(2) {
		animation-delay: 0.3s;
		.dot {
			animation-delay: 0.3s;
		}
		.outline {
			animation-delay: 1.2s;
		}
	}
	&:nth-child(3) {
		animation-delay: 0.6s;
		.dot {
			animation-delay: 0.6s;
		}
		.outline {
			animation-delay: 1.5s;
		}
	}
	&:nth-child(4) {
		animation-delay: 0.9s;
		.dot {
			animation-delay: 0.9s;
		}
		.outline {
			animation-delay: 1.8s;
		}
	}
	&:nth-child(5) {
		animation-delay: 1.2s;
		.dot {
			animation-delay: 1.2s;
		}
		.outline {
			animation-delay: 2.1s;
		}
	}
	&:nth-child(1) {
		.outline {
			animation-delay: 0.9s;
		}
	}
}


    .h2 {
        color: white;
        font-size: 28px;
        padding: 20px 0;
        text-align: center;

    }

    .allcards {
        padding: 20px 10px;
        gap: 10px;
        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            $color_1: #fff;
            $color_2: rgba(255, 255, 255, 0.5);
            $color_3: rgba(255, 255, 255, 1);

            .card {
                position: relative;
                width: 190px;
                height: 254px;
                background: #f00;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                /* Ensure the image does not overflow the card */

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(315deg, #03a9f4, #ff0058);
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(315deg, #03a9f4, #ff0058);
                    filter: blur(30px);
                }

                b {
                    position: absolute;
                    inset: 6px;
                    background: rgba(0, 0, 0, 0.6);
                    z-index: 2;
                }

                .film-poster {
                    position: absolute;
                    width: 100%;
                    /* Adjust as needed */
                    height: auto;
                    /* Adjust as needed */
                    z-index: 1;
                    /* Ensure it appears below other elements */
                    transition: 0.5s;
                }

                img {
                    position: absolute;
                    z-index: 3;
                    scale: 0.8;
                    opacity: 0.25;
                    transition: 0.5s;
                }

                &:hover {
                    img {
                        scale: 0.5;
                        opacity: 0.9;
                        transform: translateY(-70px);
                    }

                    .content {
                        transform: scale(1);
                        bottom: 25px;
                    }

                    .film-poster {
                        opacity: 0.5;
                        /* Add a hover effect to the image if needed */
                    }
                }

                .content {
                    position: absolute;
                    z-index: 3;
                    bottom: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    transform: scale(0);
                    transition: 0.5s;
                }
            }

            .content {
                .title {
                    position: relative;
                    color: $color_1;
                    font-weight: 300;
                    line-height: 1em;
                    font-size: 1em;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    .btn-cart {
                cursor: pointer;

                        display: flex;
                        width: 50px;
                        height: 50px;
                        border-radius: 10px;
                        border: none;
                        background-color: transparent;
                        position: relative;
                    }

                    .btn-cart::after {
                        content: attr(data-quantity);
                        width: fit-content;
                        height: fit-content;
                        position: absolute;
                        font-size: 15px;
                        color: white;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        opacity: 0;
                        visibility: hidden;
                        transition: .2s linear;
                        top: 115%;
                    }

                    .icon-cart {
                        width: 24.38px;
                        height: 30.52px;
                        transition: .2s linear;
                    }

                    .icon-cart path {
                        fill: rgb(48, 152, 145);
                        transition: .2s linear;
                    }

                    .btn-cart:hover>.icon-cart {
                        transform: scale(1.2);
                    }

                    .btn-cart:hover>.icon-cart path {
                        fill: rgb(186, 34, 233);
                    }

                    .btn-cart:hover::after {
                        visibility: visible;
                        opacity: 1;
                        top: 105%;
                    }

                    .quantity {
                        display: none;
                    }
                }

                .sci {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    margin-top: 5px;
                }
            }

            .sci {
                li {
                    list-style: none;

                    .fa-brands {
                        width: 14px;
                    }

                    .fa-facebook {
                        width: 10px;
                    }

                    a {
                        position: relative;
                        text-decoration: none;
                        color: $color_2;
                        background: rgba(0, 0, 0, 0.2);
                        fill: currentColor;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 4px;
                        transition: 0.5s;

                        &:hover {
                            fill: currentColor;
                            color: $color_3;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 955px) {
    #showTime{
        .h2{
            font-size: 22px;
            text-align: center;

        }
        .allcards{
            grid-template-columns: 2fr 2fr;
            gap: 10px;  
            padding: 20px 40px;

            .cards{
                display: flex;
                gap: 20px;
            }
        }
    }
}
@media (max-width: 640px) {
    #showTime{
        .h2{
            font-size: 22px;
            text-align: center;
        }
        .allcards{
            grid-template-columns: 1fr;
            gap: 10px;  
            .cards{
                display: flex;
                gap: 20px;
            }
        }
    }
}
@media (max-width: 420px) {
    
}