*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


.topNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:#1A1A1A;

    .topIcons{
        max-width: max-content;
        display: flex;
        align-items: center;
        gap: 10px;
        .topIcon{
            color: #D6D6D6;
            cursor: pointer;
        }
    }
    .topSign{
        display: flex;
        align-items: center;
        gap: 10px;
        .signIcon{
            color: #D6D6D6;
            cursor: pointer;

        }
        .Sign{
            text-decoration: none;
            color: #D6D6D6;

        }
    }
}

@media (max-width:600px)  {

    .topNav{
        display: none;
    }

}

.navbarBody{
    background-color: #222222;
    .navbar{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        gap: 10px;
        .logo{
            display: flex;
            align-items: center;
            justify-content: space-around;
            h5{
                color: #D6D6D6;
                font-size: 30px;
                display: none;
            }
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            li{
                list-style: none;

                .navLink{
                    position: relative;
                    color: #D6D6D6;
                    text-decoration: none;
                    position: relative;
                    padding: 10px 0;
                    cursor: pointer;
                    .ticketNum{
                        position: absolute;
                        font-size: 8px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: red;
                        right: 0;
                        top: 0;
                    }
                }
                .navLink:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    box-shadow: rgba(255, 255, 255, 0.936) 0px 3px;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: all 0.5s;
                }
                .navLink:after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    box-shadow: rgba(255, 255, 255, 0.936) 0px 3px;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: all 0.5s;
                }
                .navLink:hover{
                }
                .navLink:hover:before,.navLink:hover:after{
                    transform: scaleX(1)
                }
            }
        }
    }
}

@media (max-width:600px )  {

    .navbarBody{

        .navbar{
            .logo{
                .h5{
                    display: block;
                }
                img{
                    width: 50%;
                }
    
            }
            ul{
                display: none;
                gap: 10px;
            }
    
        }
    }
    
    }

@media (max-width:420px )  {

.navbarBody{
    .navbar{
        .logo{
            h5{
                font-size: 24px;
            }
        }
        ul{
            display: none;
        }

    }
}

}

#footer{
    background-color: #1A1A1A;
    .footer{
        padding: 30px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    .footerleft{
        text-align: center;

    }
    .footerRight{
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: #D6D6D6;
            li{
                display: flex;
                gap: 10px;
                align-items: center;
            }
        }
    }
    }
    .autor{
        padding: 20px;
        text-align: center;
        background-color: #222222;
        display: flex;
        flex-direction: column;
        gap: 10px;
        h2{
            font-size: 18px;
            font-weight: 300;
            color: #D6D6D6;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }
    .footerSocial{
        display: flex;
        justify-content: center;
        gap: 10px;
        font-size: 24px;
        color: #D6D6D6;
    }

}


@media (max-width:600px )  {
    #footer{
        .footer{
            flex-direction: column;
            gap: 10px;
        }
    }
}

@media (max-width:420px )  {
    #footer{
        .footer{
            flex-direction: column;
            gap: 10px;
            .footerleft{
                img{
                    width: 50%;
                }
            }
            .footerRight{
                ul{
                    li{
                        font-size: 14px;
                        gap: 4px;
                    }
                }
            }
        }

        .autor{
            h2{
                font-size: 14px;
            }
            .footerSocial{
                .topIcon{
                    font-size: 14px;
                }
            }
        }
    }
}